.top {
    position: relative;
    background-color: #ffffff;
    height: 80px;
    padding-top: 10px;
    overflow: hidden;
    z-index: 2;
}

.top .title {
    font-size: 2.5em;
}

.content {
    position: relative;
    height: 100%;
}

.navbar-inverse, .navbar-inverse ul {
	background: #909090;
	border: 0;
}

.navbar-inverse .navbar-nav li a {
	color: #f7f7f7;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: rgba(255,255,255,0.2);
}


.navbar-inverse .navbar-brand:hover:hover {
    color: white;
}

.navbar {
    margin-bottom: -20px;
}

.search {
    margin-top: 9px;
    margin-left: 241px;;
}

.search input[type="text"] {
    width: 600px;
}

.side-bar-custom {
    position: absolute;
    top: 130px;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f1f1f1;
}

.side-bar-custom li a {
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    display: block;
    color:black;
}

.side-bar-custom li a:hover {
    color: white;
    background-color: #909090;
}

.contact {
    position: absolute;
    left: 575px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding-top: 100px;
}

.contact img {
    height: 64px;
    width: 64px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 1px #286090;
  box-shadow: 0 0 4px 1px #286090;
}

.form-user fieldset {
    position: absolute;
    text-align: center;
    margin-left: 200px;
    padding-top: 50px;
}

.form-user fieldset input {
    width: 600px;
}

.form-user fieldset button {
    width: 200px;
    margin-left: 386px;
}

.form-login {
    float: right;
    display: block;
    width: 330px;
    height: 65px;
    font-size: 0.8em;
    padding: 5px 5px;
}

.form-login .actions {
    margin: 6px 0px;
}

.form-login .form-group {
    margin-bottom: 5px;
}

.form-login button {
    font-size: 1em;
    padding: 3px 12px;
    margin: 0px 11px;
}

.form-login input {
    width: 200px;
}

.login-error {
    border: 2px solid red;
}

.form-logged {
    float: right;
    display: block;
    width: 330px;
    height: 65px;
    padding: 5px 5px;
}

.form-logged .actions {
     margin: 9px 80px;
}

#logout {
    color: #337ab7;
}

#logout:hover {
    cursor: pointer;
    text-decoration: underline;
}