<div ng-controller="BooksController">
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="col-md-8 search">
				<form>
					<input type="text" ng-model="searchValue" placeholder="Qual livro você está procurando?"></input>
					<a class="btn btn-primary" ng-href="#!/home/books/search/all/{{searchValue}}">
    					<span>Procurar</span>
					</a>
				</form>
			</div>
			<div class="col-md-4 collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#!/contact">Contato</a></li>
					<li><a href="#!/bestSellers">Mais Vendidos</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>