<div class="shopping-cart">
    <div class="thumbnail">
        <div class="page-header">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Carrinho de Compras
        </div>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Quantidade</th>
                    <th>Livro</th>
                    <th>Preço</th>
                </tr>
                <tr ng-repeat="book in booksToBuy">
                    <td>{{book.qtd}}</td>
                    <td>{{book.info.name}}</td>
                    <td>{{book.info.price}}</td>
                </tr>
                <tr class="total">
                    <td></td>
                    <td>Total:</td>
                    <td>R$ {{getTotal()}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-primary" ng-click="buy()">Comprar</button>
        <button type="button" class="btn btn-danger" ng-click="cancelPurchase()">Cancelar Compra</button>
    </div> 
</div>

<div>
    <div class="thumbnail">
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputCardNumber">Número do cartão</label>
            <div class="col-md-8">
                <input id="inputCardNumber" type="text" ng-model="payment.cardNumber" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputCardName">Nome impresso no cartão</label>
            <div class="col-md-8">
                <input id="inputCardName" type="text" ng-model="payment.cardName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputCardOperationMonth">Validade</label>
            <div class="col-md-4">
                <select id="inputCardOperationMonth" ng-model="payment.CardOperationMonth">
                    <option ng-repeat="month in months">{{month}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <select id="inputCardOperationYear" ng-model="payment.CardOperationYear">
                    <option ng-repeat="year in years">{{year}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputCardCode">Código de Segurança</label>
            <div class="col-md-8">
                <input id="inputCardCode" type="text" ng-model="payment.cardCode" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="inputInstallmentPaymnet">Número de Parcelas</label>
            <div class="col-md-8">
                <input id="inputInstallmentPaymnet" type="text" ng-model="payment.cardCode" required>
            </div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="finishPurchase()">Finalizar Compra</button>
    </div>
</div>